accelerate==1.10.1
advertorch==0.2.3
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
asttokens
attrs==25.3.0
certifi==2025.8.3
charset-normalizer==3.4.3
comm 
decorator 
dill==0.3.8
evaluate==0.4.5
exceptiongroup
executing
filelock==3.19.1
frozenlist==1.7.0
fsspec==2025.3.0
hf-xet==1.1.9
huggingface-hub==0.34.4
idna==3.10
importlib_metadata
ipykernel 
ipython
ipython_pygments_lexers 
jedi 
Jinja2==3.1.4
joblib==1.5.2
jupyter_client 
jupyter_core 
MarkupSafe==2.1.5
matplotlib-inline 
multidict==6.6.4
multiprocess==0.70.16
nest_asyncio 
networkx==3.3
numpy==2.3.2
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
packaging 
pandas==2.3.2
parso 
pexpect
pickleshare
pillow==11.0.0
platformdirs
prompt_toolkit 
propcache==0.3.2
psutil 
ptyprocess 
pure_eval 
pyarrow==21.0.0
Pygments 
python-dateutil 
pytz==2025.2
PyYAML==6.0.2
pyzmq 
regex==2025.7.34
requests==2.32.5
safetensors==0.6.2
scikit-learn==1.7.1
scipy==1.16.1
setuptools==78.1.1
six 
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
sympy==1.13.3
threadpoolctl==3.6.0
tokenizers==0.21.4
torch==2.8.0+cu126p
torchaudio==2.8.0+cu126
torchvision==0.23.0+cu126
tornado @ file:///croot/tornado_1748956929273/work
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformers==4.55.4
triton==3.4.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata==2025.2
urllib3==2.5.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
wheel==0.45.1
xxhash==3.5.0
yarl==1.20.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work